body {
	font-family: 'Roboto', sans-serif;
	color: #333;
}

/* Autoscales all images width 100%; no horizontal scrolling */
img {
	max-width: 100%;
	height: auto;
}

/* Sets all elemts to box-sizing to border box*/
* {
	box-sizing: border-box;
}

a {
	color: $mainOrange;
}
