.large-hero {
border-bottom: 10px solid $mainBlue;
  position: relative;
  /* Block is treated as a div, a rectangle that can allign perfectly */
  /* Inline is used to for text, leaves a room for letter that hang below the rule */
  &__image {
    display: block;
  }

  &__text-content {

    padding-top: 88px;
    position: absolute;
    /* Top 50% + translateY(-50%) center alligns vertically over container element */
    top: 50%;
    transform: translateY(-50%);
    color: darkorange;

    /* Width 100% + center allign => center text horizontally over container element */
    width: 100%;
    text-align: center;
    line-height: normal;
    /* text-align: center; */

    @mixin atSmall {
      /* Top 50% + translateY(-50%) center alligns vertically over container element */
      top: 60%;
      transform: translateY(-50%);
      left: 10px;
      /* Width 100% + center allign => center text horizontally over container element */
      width: 100%;
      /* text-align: center; */
    }

    @mixin atMedium {
      text-align: left;
      left: 0px;
    }

  }

  &__title {
    font-family: 'Parisienne';
    font-weight: 500;
    margin: 0;
    font-size: 2.4rem;

    @mixin atSmall {
      font-weight: 550;
      font-size: 3.2rem;
    }

    @mixin atMedium {
      font-size: 5rem;
    }

    @mixin atLarge {
      font-size: 8rem;
    }
  }

  &__subtitle {
    font-family: 'Parisienne';
    font-weight: 400;
    font-size: 1.6rem;
    margin: 0;
    padding-left: 20px;

    @mixin atSmall {
      font-size: 3rem;
      font-weight: 550;
    }


    @mixin atMedium {
      font-size: 4.4rem;
    }

    @mixin atLarge {
      font-size: 5rem;
    }
  }

  &__description {
    font-weight: 300;
    color: white;
    font-size: 1.1rem;
    font-weight: 100;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    max-width: 30rem;
    margin: 0;
    margin-left: auto;
    margin-right: auto;

    @mixin atSmall {
      font-size: 1.875rem;
    }

  }
}
